* {
  box-sizing: border-box !important;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #f4f5f6;
}

.max-12k {
  max-width: 1350px;
}

header > div {
  background-color: red;
}

header .logo svg {
  fill: white;
  width: 400px;
}

.subscribe a {
  color: red;
}

.join-in * {
  font-size: 18px;
}

.nav-bar {
  position: relative;
  font-size: 20px;
  background-color: white;
}

.nav-bar .nice-border {
  position: absolute;
  width: 66px;
  top: 0;
  display: block;
  right: 0;
  border-top: 13px solid red;
  border-left: 12px solid white;
}

header nav form {
  position: relative;
}

header nav #search-input-label {
  position: absolute;
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  top: 6px;
  right: 80px;
}

header nav #search-input {
  width: 100px;
  margin-right: 66px;
}

.burger-icon .fas {
  position: relative;
  top: 4px;
  font-size: 25px;
  cursor: pointer;
}

main {
  background-color: white;
}

.stories .wrap {
  position: relative;
}

.stories .wrap .label {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
}

.black-to-red:hover {
  color: red;
  cursor: pointer;
}

.stories article a {
  color: black;
}

.stories .article-1 h4 a:hover {
  text-decoration: underline #f72210 !important;
}

.stories .article-2 h6 a:hover {
  color: red;
}

.stories section > h6 {
  color: #ababaa !important;
}

.stories .article-1 p {
  color: #606060;
}

.culture {
  background-color: #f4f5f7;
}

.text-gray {
  color: #6d6d6d;
}

.top-story .culture article .body {
  color: #8e8e8f;
}

.top-story .culture article .tag {
  background-color: #c2d4d7;
  cursor: pointer;
  color: #606060;
  font-size: 14px;
  padding: 2px 3px;
}

.top-story .culture article .tag:hover {
  background-color: black;
  color: #c2d4d7;
}

.stories .article-3 h6 a:hover {
  text-decoration: underline #f72210 !important;
}

@media (max-width: 991px) {
  header .logo svg {
    width: 140px;
  }
}
